name: CI/CD

on: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24.13.0

      - name: Install dependencies
        run: npm install

      - name: Run test
        run: |
          node server.js &
          sleep 5
          curl -f http://localhost:3000/health

  deploy:
    runs-on: ubuntu-latest
    needs: build # Only run if CI (build) passes
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Render
        run: |
          curl --fail --show-error --silent \
          -X POST "https://api.render.com/deploy/srv-d5sa7k7gi27c73dq9jp0?key=${{ secrets.RENDER_DEPLOY_KEY }}" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          -H "Accept: application/json"

      - name: Verify production endpoint
        run: |
          sleep 20 # wait a few seconds for deployment
          curl --fail --show-error https://devops-88a2.onrender.com/health


