name: CI

on: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24.13.0

      - name: Install dependencies
        run: npm install

      - name: Run test
        run: |
          node server.js &
          sleep 5
          curl -f http://localhost:3000/health
